name:  TEST BUILD
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Runt tests [Embedded mongo]
        run: mvn clean verify -Dspring.profiles.active=dev

      - name: Run tests  [Testcontainers mode]
        run: mvn clean verify -Dspring.profiles.active=prod

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t libraryapp .